<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rooms %>
    <%= form.text_field :rooms, id: :property_rooms %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :property_price %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :property_address %>
  </div>

  <div class="field">
    <%= form.label :owner_email %>
    <%= form.text_field :owner_email, id: :property_owner_email %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :property_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
