<div class="property-show">

<div class="property-show-container">
  <h1><%= @property.headline %></h1>

  <%= image_tag @property.image.url(:medium) %>

  <p>
    <strong>Description:</strong>
    <%= @property.description %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= @property.rooms %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @property.price %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @property.address %>
  </p>

  <p>
    <strong>Send inquiries to:</strong>
    <a href=" <%= @property.user.email %>"><%= @property.user.email %></a>
  </p>

</div>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>

</div>