<p id="notice"><%= notice %></p>

<div class="neighborhood">
<div class="hero-container" style="background-image: url('<%= @neighborhood.display_image.url(:medium) %>');">
	<h3>Neighborhood:</h3>
	<h1><%= @neighborhood.name %></h1>
</div>

<p><%= @neighborhood.description %></p>

<h1>Current Listings</h1>

<% @neighborhood.properties.each do |property| %>

  <div class="listing-container">
    <%= image_tag property.image.url(:medium) %>
    <a href="/properties/<%= property.id %>"><%= property.headline %></a>
  </div>

<% end %>

</div>