<!DOCTYPE html>
<html>
  <head>
    <title>RedPlanetRentals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav>
	<a href="/"><%= image_tag("logo.png",  id: "logo") %>
	</a>


	<%= link_to image_tag("user_icon.svg", id: "user-icon"), controller: 'users', action: 'show', user_id: current_user %>




	<input id="menu-toggle" type="checkbox">
	<label for="menu-toggle"></label>
	
	<ul>
		<li><%= link_to "Renters", 
		  controller: "users/registrations", 
		  action: "new",
		  type: "renter" %>
		  </li>
		<li><%= link_to "Landlords", 
		  controller: "users/registrations", 
		  action: "new",
		  type: "landlord" %>
		</li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</nav>

    <%= yield %>
  </body>
</html>
