  <div class="signup-ad">

    <!-- AD FOR RENTERS -->
    <% if params[:type] == "renter" %>
      <div class="icon-container">
        <%= image_tag("apartment.png", class: "icon") %>
      <p>Find Your Dream Home</p>
      </div>
      <div class="icon-container">
        <%= image_tag("envelope.png", class: "icon") %>
      <p>Talk to Owners</p>
    </div>
     <div class="icon-container">
      <%= image_tag("key.png", class: "icon") %>
      <p>Move In</p>
    </div>
    <% end %>

    <!-- AD FOR LANDLORDS -->
    <% if params[:type] == "landlord" %>
      <div class="icon-container">
        <%= image_tag("eye.png", class: "icon") %>
      <p>Get Your Properties Seen</p>
      </div>
      <div class="icon-container">
        <%= image_tag("deal.png", class: "icon") %>
      <p>Make Deals Fast</p>
    </div>
     <div class="icon-container">
      <%= image_tag("safebox.png", class: "icon") %>
      <p>Stay Safe</p>
    </div>
    <% end %>
  </div>

</div>

<div class="signup-form">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= params[:type] %></p>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<%= render "users/shared/links" %>
</div>
